<div class="p-2 mt-5">
<h4>Reset your password :</h4>
</div>
<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form|%>


  <div class="field form-group p-2">
    <% form.label :password %><br />
    <%= form.password_field :password ,class:"form-control" , placeholder:'Password' %>
  </div>
    <div class="field form-group p-2">
    <% form.label :password %><br />
    <%= form.password_field :password_confirmation ,class:"form-control" , placeholder:'password_confirmation' %>
  </div>
<br/>
    <div class="mb-3">
        <%= form.submit "Reset Password" , class:"btn bg-success" %>
    </div>

<% end %>