<%= form_for [commentable, Comment.new] do |f| %>

    <div class="form-group">
        <%= f.text_area :body, class:"form-control mb-3" , placeholder: "add a comment"%>
    </div>
    <%= f.submit  class: "btn btn-sm bg-success"%>
<%end%>    