<%= form_for[commentable, Comment.new] do |f| %>

    <div class="form-group">
        <%= f.text_area :body, class:"form-contol" , placeholder: "add a comment"%>
    </div>
    <%= f.submit class: "btn bg-success"%>
<%end%>    