<div class="row">
<div class="col-lg-2"></div>

<div class="col-lg-8 m-5 p-2">
  <div class="container p-2">

<div class="card p-2 b-color" style="max-width: 640px;">

  <div class="card-body p-2">
    <h5 class="card-title">Task Title : </h5>
    <p class="card-text p-2"><%= @task.title %></p>
   
    <%= link_to 'Edit', edit_task_path(@task)  , class:"btn btn-dark p-2"%> |
    <%= link_to 'Back', tasks_path , class:"btn btn-dark p-2"%> 
  </div>

</div>



  </div>
</div>
<div class="col-lg-2"></div>
</div>