<%= form_with(model: completedlesson) do |form| %>
  <% if completedlesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(completedlesson.errors.count, "error") %> prohibited this completedlesson from being saved:</h2>

      <ul>
        <% completedlesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
