<%= form_for [reactionable, Reaction.new] do |f| %>

    <div class="field form-group">
   
       <%= f.select :reaction, options_for_select([['Smile', 'smile'], ['Heart', 'heart'], ['Sad', 'sad']]) %>    
    </div>
    <%= f.submit class: "btn btn-sm bg-success"%>
<%end%>    