<%= form_for [reactionable, Reaction.new] do |f| %>

    <div class="field form-group">
   
        <%= f.number_field :reaction ,placeholder:"(1-3)" %>     
    </div>
    <%= f.submit class: "btn btn-sm bg-success"%>
<%end%>    