 <div class="mb-3">
 <strong>Reaction :</strong>
    <% reactionable.reactions.each do |reaction|%>
            
      <div class="well">
        <%= reactionable.reaction%>
      </div>
    <%end%>
</div>