<br/>
<br/>
<br/>


<% if signed_in? %>
  <div class="row b-color m-5">

    <div class="card  p-2 b-color-home shadow-lg" style="height:600px;">
      <br/>
      <br/>
      
            
           <h1 class="text-center p-2 mt-3 fon"> <%= t('willkommen_html' , email: current_user.email)%>  </h1>    
        
              <br/>
              <br/>
              <p class="text-center p-2 m-3 fon-p">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, asperiores! Distinctio debitis dolorem beatae ex, eaque perferendis aliquid eos blanditiis obcaecati, quibusdam veritatis? Ad nihil ipsam ullam beatae error dolores!
                <strong>Lorem ipsum </strong>dolor sit, amet consectetur adipisicing elit. Ullam, asperiores! Distinctio debitis dolorem beatae ex, eaque perferendis aliquid eos blanditiis obcaecati, quibusdam veritatis? Ad nihil ipsam ullam beatae error dolores!
              
                <strong>Lorem ipsum </strong> dolor sit, amet consectetur adipisicing elit. Ullam, asperiores! Distinctio debitis dolorem beatae ex, eaque perferendis aliquid eos blanditiis obcaecati, quibusdam veritatis? Ad nihil ipsam ullam beatae error dolores!
              </p>
    </div>
         
  </div>
<% end %>


