





    <div class="row">

        <div class="col-md-5 p-2 position-relative mt-5">
            <div class="container p-2 position-absolute top-50 start-50 translate-middle">
                 <%= render 'course_ratings/form' , course_rating: @course_rating%>
            </div>
        </div>

        <div class="col-md-2 "></div>  
            


        <div class="col-md-5 p-2">  
            <div class="container p-2" >
                <%= image_tag("done.svg") %>
            </div>
        </div>

    </div>
