<h1>Course <%= @course.title %> Lesson <%= @lesson.title %> </h1>

<%= link_to "Edit", edit_author_course_lesson_path(@course, @lesson) %>

<%= link_to 'Destroy', author_course_lesson_path(@course, @lesson), method: :delete, data: { confirm: 'Are you sure?' } %>