
<div class="row">

<div class="col-lg-4">
<div class="container p-2">
    <div class="  p-2 " style="max-width: 740px;">
        <%= render 'layouts/course_sidebar' , course: @course%>
</div>
</div>

</div>

<div class="col-lg-6 m-5 p-2">
<h4 class="p-2"> Do you want to know more about Author?</h4>
<hr/>
<div class="p-2">
<%= @author.email %>
</div>
<p class="p-2">
“Author reputation” is consistently cited as one of the main factors that influence a book buying decision. If you’re seen as an authority on your book topic, readers will buy your book and read it. One of the best ways to be seen as an authority is to have a great Author Bio.
</p>
</div>
<div class="col-lg-2"></div>

</div>







   
