/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

body{
    font-family: 'Lato', sans-serif;
}

.text-shadow {

    text-shadow: 2px 2px 4px #000000;
  }

.b-color{
    background-image: linear-gradient(139deg, #d6f3e752 27%, #edfaa852 100%, #ffffff 100%);
}
.card-courses{
    border-radius: 5px;   	
}

.img-courses{
    object-fit: cover;
    border-radius: 5px;   	

}

.img-cours-id{
    object-fit: cover;
    max-width: 100%;
}

.b-navbar-color{
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}

.bTColor{
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}


.progress-bar{
    background-color: black;
}

.loader{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    position: relative;
}
.loader .box{
    /* background-color: rgba(0,0,0,0.04); */
    background-color: rgb(0 0 0 / 88%);
    border: 4px solid transparent;
    /* border-left: 4px solid #dc3545;
    border-top: 4px solid  #dc3545; */
    /* border-radius: 50%; */
    /* box-shadow: 0 0 15px rgba(0,0,0,0.03); */
    box-shadow: 0 0 30px 6PX rgb(191 153 155 / 32%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: animate1 10s linear infinite;
}
.loader .box:nth-of-type(2){
    /* background-color: rgba(0, 0, 0, 0.025); */
    background-color: rgb(248 176 175);
    border: 4px solid transparent;
    /* border-right: 4px solid  #ffc107;
    border-bottom: 4px solid  #ffc107; */
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    animation: animate1 10s reverse linear infinite;
}
.loader .box .circle{
    transform-origin: left;
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    width: 50%;
    height: 2px;
}
.loader .box .circle,
.loader .box:nth-of-type(2) .circle{
    transform: rotate(-45deg);
}
.loader .box .circle:before{
    content: '';
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: -6px;
}
.loader .box .circle:before{
    /* background:  #dc3545;; */
    /* box-shadow: 0 0 20px #26ff00, 0 0 40px #26ff00, 0 0 60px #26ff00, 0 0 80px #26ff00,
                0 0 100px #26ff00, 0 0 0 5px rgba(255, 255, 0, .1); */
}
.loader .box:nth-of-type(2) .circle:before{
    /* background: #ffc107;; */
    /* box-shadow: 0 0 20px #2db9ff, 0 0 40px #2db9ff, 0 0 60px #2db9ff, 0 0 80px #2db9ff,
                0 0 100px #2db9ff, 0 0 0 5px rgba(3, 169, 244, .1); */
}
@keyframes animate1{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}




.to-do-style{
    width: 100%;
}


.task-completed-style {
    transition: .4s;
    }
    .task-completed-style:hover {
    transition: .4s;
    background-color: rgba(11, 14, 15, 0.157) ;
    border-radius: 3px;
    box-shadow: 5px 10px 18px -6px #888888; 
    }



/* contact us */

    .form-control {
        
            background-image: linear-gradient(139deg, #d6f3e752 27%, #edfaa852 100%, #ffffff 100%);
       
           border-width: 0 0 2px 0;
           border-style: none none solid none;
         
         
    }

