<br/>
<h2>Editing Course</h2>



<br/>
<%= render 'form', course: @course %>
<br/>
<%= link_to 'Show', author_course_url , class:"btn btn-secondary" %> |
<%= link_to 'Back', author_courses_path , class:"btn btn-dark"%>
